# Reduce Data

Since our data is too large to push to GitHub (max of 100 mb), we'll reduce the data through a stratified (```main_category```) random sample.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/amazon_products_raw.csv")
df.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [11]:
df["main_category"].value_counts()

accessories                84913
tv, audio & cameras        52721
women's clothing           50253
men's shoes                46275
men's clothing             42772
appliances                 21614
stores                     17375
home & kitchen             13356
sports & fitness           10995
kids' fashion              10954
beauty & health             9611
bags & luggage              8348
car & motorbike             6798
toys & baby products        5611
women's shoes               4930
industrial supplies         3849
grocery & gourmet foods     3196
pet supplies                1549
music                       1066
home, kitchen, pets           24
Name: main_category, dtype: int64

In [16]:
df["main_category"].value_counts().mean()

19810.5

In [17]:
# Group the dataset
grouped = df.groupby("main_category")

# Sample size for each group
sample_size = 20_000

sampled_data = pd.DataFrame()

# Iterate over each group, and perform sampling
for group_name, group_df in grouped:
    if len(group_df) >= sample_size:
        # If the group has enough rows, sample the specified number of rows
        sampled_rows = group_df.sample(n=sample_size)
    else:
        # If the group has fewer rows than the desired sample size, sample all rows
        sampled_rows = group_df
    sampled_data = sampled_data.append(sampled_rows)

/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)
/tmp/ipykernel_205/4055193663.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  sampled_data = sampled_data.append(sampled_rows)

In [18]:
sampled_data

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
121711,ZAVERI PEARLS Set of 15 Gold Tone Contemporary...,accessories,Fashion & Silver Jewellery,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/ZAVERI-PEARLS-Contempora...,3.6,4,₹239,"₹1,995"
379398,TIMENTER Chronograph Analog Black Color Dial M...,accessories,Watches,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/TIMENTER-Chronograph-Ana...,NaN,NaN,₹627,"₹1,034"
373251,Mikado Analogue Girl's Watch(Blue Dial Multico...,accessories,Watches,https://m.media-amazon.com/images/I/91YeInDH--...,https://www.amazon.in/Mikado-DRS-Crystals-Wome...,4.0,5,₹239,"₹1,999"
43914,Chumbak India Boho Women's Wallet - Red,accessories,Bags & Luggage,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Chumbak-India-Boho-Women...,5.0,1,NaN,"₹1,295"
35130,Lemish Polyester Zipped Mesh Washing Bag Hole ...,accessories,Bags & Luggage,https://m.media-amazon.com/images/I/61rFWzdaWS...,https://www.amazon.in/Lemish-Underwear-T-shirt...,4.0,195,₹235,₹500
...,...,...,...,...,...,...,...,...,...
314023,BATA Women's Simo Pu Slipper,women's shoes,Shoes,https://m.media-amazon.com/images/I/61RepswFlC...,https://www.amazon.in/BATA-Womens-Fashion-Slip...,3.6,11,NaN,"₹1,066"
314024,new balance womens Pesu Running Shoe,women's shoes,Shoes,https://m.media-amazon.com/images/I/61xjPTmn0R...,https://www.amazon.in/new-balance-WPESULK1-Bla...,4.0,16,"₹3,599","₹7,999"
314025,A&Z Dream Women's & Girls' Fashion Sandal,women's shoes,Shoes,https://m.media-amazon.com/images/I/61-GiZbnBJ...,https://www.amazon.in/drem-Women-Girls-Sandal-...,3.5,346,₹497,₹999
314026,DEEANNE LONDON Women's Block Heels Bellies,women's shoes,Shoes,https://m.media-amazon.com/images/I/71u4MPMPzj...,https://www.amazon.in/DEEANNE-LONDON-Womens-Bl...,3.2,121,₹699,₹999
314027,Catwalk Women's Glitter Sling Back Pumps,women's shoes,Shoes,https://m.media-amazon.com/images/I/91I4NWldsR...,https://www.amazon.in/Catwalk-Womens-Glitter-S...,3.7,68,"₹1,816.50","₹2,595"

In [19]:
sampled_data.to_csv("data/amazon_products_sampled_raw.csv")