# Data Preprocessing

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("amazon_products_raw.csv")

In [3]:
df.sample(5)

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
172025,Unikaa Leather Women Wallet(black),accessories,Handbags & Clutches,https://m.media-amazon.com/images/I/61ED9DOc6G...,https://www.amazon.in/Womens-Artificial-Synthe...,4.0,8,₹349,₹950
219734,NEVA Modal Base Super Soft Mens Vest,men's clothing,Innerwear,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/NEVA-Modal-Base-Super-Wh...,NaN,NaN,₹430,₹478
164121,DMS RETAIL TraditionalPurse For Women|Ladiees ...,accessories,Handbags & Clutches,https://m.media-amazon.com/images/I/61z-jOsMdP...,https://www.amazon.in/DMS-RETAIL-TraditionalPu...,NaN,NaN,"₹1,150","₹1,500"
146556,Clarks Clarkslite Low Black Leat,men's shoes,Formal Shoes,https://m.media-amazon.com/images/I/71AX9rwaKQ...,https://www.amazon.in/Clarks-Clarkslite-Black-...,NaN,NaN,NaN,"₹6,499"
371291,Emporio_ArmaniWhite Crystal Pave Dial Two-Tone...,accessories,Watches,https://m.media-amazon.com/images/I/61nO4Kcw5H...,https://www.amazon.in/Emporio_ArmaniWhite-Crys...,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396210 entries, 0 to 396209
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            396210 non-null  object
 1   main_category   396210 non-null  object
 2   sub_category    396210 non-null  object
 3   image           396210 non-null  object
 4   link            396210 non-null  object
 5   ratings         267648 non-null  object
 6   no_of_ratings   267648 non-null  object
 7   discount_price  350450 non-null  object
 8   actual_price    384273 non-null  object
dtypes: object(9)
memory usage: 27.2+ MB

In [5]:
df.isna().sum()

name                   0
main_category          0
sub_category           0
image                  0
link                   0
ratings           128562
no_of_ratings     128562
discount_price     45760
actual_price       11937
dtype: int64

In [6]:
null_rows = df[df.isnull().any(axis=1)]

In [9]:
null_rows[["name", "main_category","ratings"]]

,name,main_category,ratings
24,Lloyd 1.5 Ton 3 Star Fixed Speed Window Ac (Co...,appliances,NaN
50,Samsung 1 Ton 5 Star Inverter Split AC (Copper...,appliances,NaN
57,Haier 1.5 Ton 3 Star Frost Self Clean Inverter...,appliances,NaN
69,Lloyd 2.0 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,NaN
73,"Voltas 1.5 Ton 3 Star, Fixed Speed Window AC (...",appliances,NaN
...,...,...,...
396174,"Nivia 2365-3 Hydra-1 Polyester Training Tee, A...",sports & fitness,3.2
396196,Adidas Women's Cotton Hooded Neck Sweatshirt,sports & fitness,3.9
396197,Amazon Brand - Symactive Men's Activewear Gym ...,sports & fitness,NaN
396201,Just rider Arm Sleeves UV Protection for Drivi...,sports & fitness,NaN
396204,"Obsessions Reversible Printed Yoga Mat,Anti-Sl...",sports & fitness,NaN